/* Add application styles & imports to this file! */

body {
  font-family: Lato;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  margin: 0 20px 0 0;
  padding: 10px 20px;
  background: #eee;
}

.tabs li.active {
  background: #333;
  color: #fff;
}

.tabs-body {
  margin-top: 20px;
}

.tabs-body li {
  display: none;
}

.tabs-body li.active {
  display: block;
}